@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
font-family: 'Lato', sans-serif;
font-size:0.7em;
}

body {
    position: relative;
    width: clamp(800px, 100vw, 1200px);

}

.leftBlock {
    position: absolute;
    width: 45%;
    height:100%;
}

.retroImage {
    position: absolute;
    width: 100%;
}

.titleLeft {
    position: relative;
    display:flex;
    justify-content: center;
    padding: 10px;
    margin-top:45%;
    font-size: 3rem;
    color:#cf875e;
    background-color: rgba(87, 33, 8, 0.7);
}

.creditLeft {
    position: relative;
    display:flex;
    justify-content:center;
    margin-top: 62%;
    font-size:1.2em;
    color: white;
    background-color: rgba(207, 135, 94, 0.4);
}

